/* Login form container */

.form {
  --background: #d3d3d3;
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  margin-left: 40%;
  margin-top: 5%;
  padding: 25px;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  border-radius: 6px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  width: 300px;
}

/* heading */

.form p {
  color: var(--font-color);
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form p span {
  color: var(--font-color-sub);
  font-size: 16px;
}

/* separator line */

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.separator div {
  width: 90px;
  height: 3px;
  border-radius: 5px;
  background: var(--font-color-sub);
}

.separator span {
  color: var(--font-color);
  font-weight: 600;
}

/* oauth buttons */

.oauthButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  width: 250px;
  height: 40px;

  border-radius: 5px;
  border: 2px solid var(--main-color);
  background: var(--bg-color);

  box-shadow: 4px 4px var(--main-color);

  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);

  cursor: pointer;
  transition: 0.25s;
  position: relative;
  overflow: hidden;
}

.oauthButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #212121;
  transition: 0.25s;
  z-index: -1;
}

.oauthButton:hover {
  color: white;
}

.oauthButton:hover::before {
  width: 100%;
}

/* WTForms input fields */

.form_style {
  width: 250px;
  height: 40px;

  border-radius: 5px;
  border: 2px solid var(--main-color);
  background: var(--bg-color);

  box-shadow: 4px 4px var(--main-color);

  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);

  padding: 5px 10px;
  outline: none;
}

/* input focus */

.form_style:focus {
  border-color: var(--input-focus);
}

/* submit button */

.btn {
  width: 250px;
  height: 40px;

  border-radius: 5px;
  border: 2px solid var(--main-color);
  background: #2d8cf0;

  color: white;
  font-weight: 700;
  cursor: pointer;

  box-shadow: 4px 4px var(--main-color);
  transition: 0.2s;
}

.btn:hover {
  transform: translateY(2px);
}

/* icons */

.icon {
  width: 1.4rem;
  height: 1.4rem;
}
footer{
  text-align: center;
}