<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/home.css')}}">
 <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

<!-- HEADER -->
<header class="flex justify-between items-center px-10 py-5 bg-white shadow-md">
    <div class="text-2xl font-bold text-rose-500">Dear Diary</div>
    <nav class="space-x-6 font-medium">
        <a href="{{url_for('auth.diary')}}" class="hover:text-rose-500 transition">my deary</a>
        <a href="{{url_for('auth.monthly',year=year,month=month)}}" class="hover:text-rose-500 transition">monthly diaries</a>
      
    </nav>
</header>
    </header>
    <div class="card">
  <div class="border"></div>
  <div class="content">
    <div class="logo">
      <div class="logo1">
        <div class="logo-text">Dear Diary</div>
    </div>
    <span class="logo-bottom-text">dear diary</span>
    <p>diary writing is not just about learning its about exploring your ideas and your emotions that you couldn't express but your works could express them </p>
  </div>
  <span class="bottom-text">write the experiences</span>
</div>
          <path
            transform="translate(0 0)"
            d="M12.827,1.628A1.561,1.561,0,0,1,14.31,0h2.964a1.561,1.561,0,0,1,1.483,1.628v11.9a9.252,9.252,0,0,1-2.432,6.852q-2.432,2.409-6.963,2.409T2.4,20.452Q0,18.094,0,13.669V1.628A1.561,1.561,0,0,1,1.483,0h2.98A1.561,1.561,0,0,1,5.947,1.628V13.191a5.635,5.635,0,0,0,.85,3.451,3.153,3.153,0,0,0,2.632,1.094,3.032,3.032,0,0,0,2.582-1.076,5.836,5.836,0,0,0,.816-3.486Z"
            data-name="Path 6"
            id="Path_6"
          ></path>
          <path
            transform="translate(-45.91 0)"
            d="M75.207,20.857a1.561,1.561,0,0,1-1.483,1.628h-2.98a1.561,1.561,0,0,1-1.483-1.628V1.628A1.561,1.561,0,0,1,70.743,0h2.98a1.561,1.561,0,0,1,1.483,1.628Z"
            data-name="Path 7"
            id="Path_7"
          ></path>
          <path
            transform="translate(0 -51.963)"
            d="M0,80.018A1.561,1.561,0,0,1,1.483,78.39h26.7a1.561,1.561,0,0,1,1.483,1.628v2.006a1.561,1.561,0,0,1-1.483,1.628H1.483A1.561,1.561,0,0,1,0,82.025Z"
            data-name="Path 8"
            id="Path_8"
          ></path>
        </svg>
      </div>
      
      <span class="trail"></span>
    
  <span class="bottom-text">write the experiences</span>
</div>

</body>
</html>