<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monthly diary</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/monthly.css')}}">
</head>
<body>
    <header>
        <h3>dear diary</h3>
    </header>
    <main>
<h2>{{ month }} / {{ year }}</h2>

{% for diary in diaries %}
<div class="entry">
    <h4>{{ diary.created_at }}</h4>
    <h3>{{ diary.title }}</h3>
    <p>{{ diary.content }}</p>
</div>
<hr>
{% endfor %}
</main>
 <footer>
        <p> &copy; <span id="year"></span>all rights are reserved </p>
    </footer>
</body>
<script>
     document.getElementById("year").textContent=new Date().getFullYear();
</script>
</html>